.header-area{
    max-width: 1400px;
    margin: 5px auto;
}
.header{
    margin: 10px;
}
.header h1{
    font-size: 20px;
    font-weight: bold;
    margin-left: 1rem;
}

@media (min-width: 1024px ){
    .header{
        margin: 10px;
    }
    .header h1{
        font-size: 30px;
        font-weight: bold;
        margin-left: 1rem;
    }

}